In [1]:
import pandas as pd
import glob

# Path to the folder containing the CSV files
path_to_csv_files = "C:/Users/chani/Downloads/CASE2/CASE2/WorldCup_Stats"

# List all CSV files in the directory
csv_files = glob.glob(f"{path_to_csv_files}/*.csv")

# Read and concatenate all CSV files into a single DataFrame
crick_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

# Print the first few rows of the combined DataFrame
print(crick_df.head())

   Unnamed: 0.1  Unnamed: 0       date        venue match_category team_1  \
0             0          11        NaN   Nottingham   League-Match    PAK
1             1           5        NaN        Leeds   League-Match    EAf
2             2          12  6/18/1975        Leeds     Semi-Final    ENG
3             3           8  6/14/1975   Birmingham   League-Match    ENG
4             4          13        NaN     The Oval     Semi-Final     NZ

  team_2  team_1_runs  team_1_wickets  team_2_runs  team_2_wickets  \
0     SL        330.0             6.0        138.0             0.0
1    IND        120.0             0.0        123.0             0.0
2    AUS         93.0             0.0         94.0             6.0
3    EAf        290.0             5.0         94.0             0.0
4     WI        158.0             0.0        159.0             5.0

                                              result                 pom  \
0                           Pakistan won by 192 runs        Zaheer Abbas
1  India won by 10 wickets (with 181 balls remain...     Farokh Engineer
2  Australia won by 4 wickets (with 188 balls rem...        Gary Gilmour
3                            England won by 196 runs           John Snow
4  West Indies won by 5 wickets (with 119 balls r...  Alvin Kallicharran

  best_batters best_bowlers commentary_line  world_cup_year host_country
0          NaN          NaN             NaN            1975      England
1          NaN          NaN             NaN            1975      England
2          NaN          NaN             NaN            1975      England
3          NaN          NaN             NaN            1975      England
4          NaN          NaN             NaN            1975      England

In [2]:
crick_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     528 non-null    int64
 1   Unnamed: 0       528 non-null    int64
 2   date             364 non-null    object
 3   venue            528 non-null    object
 4   match_category   528 non-null    object
 5   team_1           528 non-null    object
 6   team_2           528 non-null    object
 7   team_1_runs      518 non-null    float64
 8   team_1_wickets   518 non-null    float64
 9   team_2_runs      513 non-null    float64
 10  team_2_wickets   513 non-null    float64
 11  result           528 non-null    object
 12  pom              510 non-null    object
 13  best_batters     250 non-null    object
 14  best_bowlers     250 non-null    object
 15  commentary_line  83 non-null     object
 16  world_cup_year   528 non-null    int64
 17  host_country     528 non-null    object
dtypes: float64(4), int64(3), object(11)
memory usage: 74.4+ KB

In [3]:
crick_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'date', 'venue', 'match_category',
       'team_1', 'team_2', 'team_1_runs', 'team_1_wickets', 'team_2_runs',
       'team_2_wickets', 'result', 'pom', 'best_batters', 'best_bowlers',
       'commentary_line', 'world_cup_year', 'host_country'],
      dtype='object')

In [4]:
print(crick_df.shape)

(528, 18)

In [5]:
crick_df.describe()

,Unnamed: 0.1,Unnamed: 0,team_1_runs,team_1_wickets,team_2_runs,team_2_wickets,world_cup_year
count,528.000000,528.000000,518.000000,518.000000,513.000000,513.000000,528.000000
mean,21.871212,21.034091,243.239382,4.590734,198.643275,2.777778,2003.373106
std,14.307231,13.915398,75.108565,3.465005,59.732864,3.044163,13.352007
min,0.000000,0.000000,1.000000,0.000000,24.000000,0.000000,1975.000000
25%,10.000000,9.000000,197.000000,0.000000,158.000000,0.000000,1992.000000
50%,20.000000,20.000000,244.000000,6.000000,204.000000,2.000000,2003.000000
75%,33.000000,32.000000,292.000000,8.000000,235.000000,5.000000,2015.000000
max,55.000000,53.000000,428.000000,9.000000,383.000000,9.000000,2023.000000

In [6]:
# Remove duplicate rows from the DataFrame
crick_df = crick_df.drop_duplicates()

# Optional: Reset the index after removing duplicates
crick_df.reset_index(drop=True, inplace=True)

# Check the shape of the DataFrame after removing duplicates
print(f"DataFrame shape after removing duplicates: {crick_df.shape}")

DataFrame shape after removing duplicates: (528, 18)

In [7]:
print(crick_df.isnull().sum())

Unnamed: 0.1         0
Unnamed: 0           0
date               164
venue                0
match_category       0
team_1               0
team_2               0
team_1_runs         10
team_1_wickets      10
team_2_runs         15
team_2_wickets      15
result               0
pom                 18
best_batters       278
best_bowlers       278
commentary_line    445
world_cup_year       0
host_country         0
dtype: int64